[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "natstrat"]
	path = natstrat
	url = https://github.com/kkbrum/natstrat
[submodule "optrefine"]
	path = optrefine
	url = https://github.com/kkbrum/optrefine
[submodule "triplesmatch"]
	path = triplesmatch
	url = https://github.com/cran/triplesmatch
